<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accesso">
            <h2><span>Accesso</span> {{accesso.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Gruppo</span></dt>
                <dd>
                    <div *ngIf="accesso.gruppoId">
                        <a [routerLink]="['/gruppo', accesso.gruppoId, 'view']">{{accesso.gruppoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accesso', accesso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
